*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}


.navbar {
    margin: 0 auto;
    max-width: 600px;
    align-items: center;
    justify-content: center;
}

.navbar ul {
    align-items: center;
}

.navbar li {
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding-left: 100px;
    color: red;
}

.navbar .container {
    margin: 0 auto;
    text-align: center;
}

.container input{
    margin: 10px;
    width: 50%;
    text-align: center;
    height: 20px;
    padding: 20px 30px;
}

.navbar button {
    border: none;
    padding: 10px 30px;
    font-size: 1rem;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    margin-left: 240px;
}